- obj.each do |bar|
  .row
    .col-xs-8.col-xs-offset-2
      .card
        =image_tag "chinczyk.png"
        %br
        = link_to bar.name, bar_path(bar)
        %br
        Rating: #{bar.rating}
        %br
        Address: #{bar.address}
        %br
        =truncate(bar.description, length: 100)
        %br

        %small
          created by: tutaj dodac usera po polaczeniu modeli
          =time_ago_in_words(bar.created_at)
          ago   ||
          Last updated:
          =time_ago_in_words(bar.updated_at)
          ago
        %div
          =link_to "Edit", edit_bar_path(bar), class: "btn btn-success"
          =link_to "Delete", bar_path(bar), method: :delete,
                      data: {confirm: "Are you sure you want to delete this bar?"},
                      class: "btn btn-danger"
