.div.container
  .row
    .jumbotron
      %h1 Best chinczyk in Warsaw
      = link_to "Add chinczyk", new_bar_path, class:"btn btn-primary"
    = render "shared/bar", obj: @bars

= will_paginate @bars, class: 'apple-pagination text-center'
