.container
  .row
    .jumbotron
      %h1= @user.username
      User has
      = @bars.size
      chinczyk(s) added

    = render "shared/bar", obj: @bars

= will_paginate @bars, class: "apple-pagination text-center"