// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  width: 100vw;
}
.margin{
  height: 30px;
  display: inline;
  width: 100vw;
}
.card-index{
  width: 100vw;
}
.card-show{
  width: 40vw;
}
.full_width{
  width: 100vw;
}
.almost_full_width{
  width: 90vw;
}
